h1 {
    /*text-align: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
  
p {
    text-align: center
  }
  /* Isto é um comentário */
body {
    background-color: #f0f0f0;
    /* Este é outro comentário */
}
